{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="es" dir="ltr">
  <head>
    <title>{% block titulo %}  {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link type="text/css" href="{% static '../static/css/sidebar.css' %}" rel="stylesheet"/>
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     
     <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" href="{% static '../static/css/home.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static '../static/css/solicitudes.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static '../static/css/mi-cuenta.css' %}" rel="stylesheet"/>

   </head>
<body>
  <section class="home-section contenido">
    <br>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="col-12">
              {% block contenido %}  {% endblock %}
            </div>
        </div>
      </div>  
    </div>
  </section>

  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let contenido = document.querySelector(".contenido");
  
  let sidebarBtn = document.querySelector(".bx-menu");

  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
    if (screen.width < 490) {
      contenido.classList.toggle("s490"); 
    }
  });
  let sidebarBackBtn = document.querySelector(".close-menu");
  console.log(sidebarBtn);
  sidebarBackBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
    if (screen.width < 490) {
      contenido.classList.toggle("s490"); 
    }
  });
  </script>

  <!-- Solicitudes -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
