{% extends "base.html" %}

{% block titulo %} Subir consulta {% endblock %}

{% block contenido %}


<div class="container">
  <div class="row">
    
    <div class="col-12 align-self-center">
        <div class="card bg-form">
            <div class="card-header align-self-center">
                <h1>Subir consulta</h1>
            </div>
            <div class="card-body">
              <!--<form enctype="multipart/form-data" id="solicitudForm" method="POST">-->
              <form method="POST" action="/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                  <div class="div text-center ">
                    <p>Seleccione un archivo excel con los proyectos a consultar</p>
                    <input type="file" name="archivo_excel">
                  </div>
                  <div class="div text-center ">
                    <button type="submit" class="btn btn-primary m-3">Subir consulta</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}