<ul class="nav-links">
    <!-- Start custom-->

    
    <!--SOLICITUDES-->
    <li>
      <a href="{% url 'solicitudes' %}">
        <i class='bx bx-file' ></i>
        <span class="link_name">Solicitudes</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'solicitudes' %}">Solicitudes</a></li>
      </ul>
    </li>
    <!--CREAR SOLICITUD-->>
    <li>
      <a href="{% url 'subir_excel' %}">
        <i class='bx bxs-file-plus'></i>
        <span class="link_name" aria-hidden="true">Crear solicitud</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'subir_excel' %}">Crear solicitud</a></li>
      </ul>
    </li>

    <!--  PERFIL -->
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        {% comment %} <div class="profile_name">Hello, {{request.user}}</div> {% endcomment %}
        <div class="job">Grupo 4</div>
      </div>
      <div class="close-menu">
        <i class='bx bx-log-out' ></i>
      </div>
    </div>

    <!--  BOTON LOGOUT -->
  </ul>