{% extends "base.html" %}

{% block titulo %} Solicitudes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{%  url 'subir_excel' %}" role="button">Nueva consulta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Listado de proyectos</h4>
        <table class="table table-borderless main">
          <thead>
              <tr class="head">
                  {% for col in data.columns %}
                      <th scope="col">
                          {{col}}
                      </tg>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for index, row in data.iterrows %}
              <tr class="rounded bg-white">
                {% for cell in row %}
                  <td>
                    {{cell}}
                  </td>
                  {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}